<a href='/'>
  <button>Home</button>
</a>

<style>
  button {
    border: none;
    background-color: whitesmoke;
    color: black;
    font-weight: 900;
    width: fit-content;
    padding: 10px;
    box-shadow: 2px 2px 2px -1px gray;
  }
  button:hover {
    box-shadow: 0 0 0 0 gray;
  }
</style>
